@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cairo:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    font-size: 18px;
    font-weight:Extra-light 200;
}

:root{
    --primaryColorBlue:hsl(231, 69%, 60%);
    --primartColorRed:hsl(0, 94%, 66%);
    --NeutralGrayBlue: hsl(229, 8%, 60%);
    --NeutralDarkBlue: hsl(229, 31%, 21%);
}

header {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

header img {
    width: 160px;
}

header .headerContent {
    display: flex;
    gap: 20px;
    align-self: start;
    align-items: center;

}

.headerContent button {
    background-color: var(--primartColorRed);
    color: white;
    padding: 0px 20px 0px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;   
    transition: all 0.5s;
    box-shadow: 5px 5px 5px gray;
}

.headerContent button:hover {
    background-color: hsl(0, 65%, 56%);
    color: white; 
}

.headerContent button:active {
    background-color: hsl(0, 49%, 47%);
    color: white; 
    box-shadow: 2px 2px 5px gray;
}
