@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cairo:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    font-size: 18px;
    font-weight: Extra-light 200;
}

/* variables */
:root {
    --primaryColorBlue: hsl(231, 69%, 60%);
    --primaryColorRed: hsl(0, 94%, 66%);
    --NeutralGrayBlue: hsl(229, 8%, 60%);
    --NeutralDarkBlue: hsl(229, 31%, 21%);
}

/* Estilos predeterminados para ponerle a ese tipo de objeto */
.logo {
    width: 160px;
}

.seccion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 5%;
    gap: 10px;
}

.buttonDefault {
    padding: 0% 20px 0% 20px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 5px;
}


.parrafos {
    font-size: 16px;
    word-spacing: 1px;
}

.titulos {
    font-size: 1.8rem;
    text-align: center;
}

.gradient {
    height: 220px;
    position: absolute;
    background-color: var(--primaryColorBlue);
}

/* Estilos del header */
header {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.hamburger img {
    width: 30px;
    display: none;
}

header .headerContent {
    display: flex;
    gap: 20px;
    align-self: start;
    align-items: center;

}

.headerContent button {
    background-color: var(--primaryColorRed);
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;

}


.headerContent button:hover {
    background-color: hsl(0, 65%, 56%);
    color: white;
}

.headerContent button:active {
    background-color: hsl(0, 49%, 47%);
    box-shadow: 2px 2px 5px gray;
}

/* Estilos de main */
main {
    margin: 5% 0px 8% 0px;
}

.seccionUnoIzquierda {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-items: center;
    justify-content: center;
    gap: 10px;
    width: 40%;
    margin-left: 10%;
}

.seccionUnoIzquierda p {
    align-self: start;
    justify-self: center;
}

.seccionUnoIzquierda h1 {
    align-self: flex-start;
}

.seccionUnoIzBotones {
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
    align-self: flex-start;
    justify-self: center;
    justify-content: center;
    align-items: center;

}

.seccionUnoDerecha {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50%;
}

.seccionUnoDerecha img {
    width: 400px;
    align-items: center;
    z-index: 20;
}

.seccionUnoIzBotones .botonChrome {
    background-color: var(--primaryColorBlue);
    color: white;
}

.gradientseccionUno {
    width: 65%;
    border-radius: 80px 0px 0px 80px;
    left: 35%;
    top: 25%;
}

.minisecciones {
    width: 50%;
    margin: 0px auto 5% auto;
}

.features p {
    text-align: center;
}

.seccionDos {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 5%;
}

.seccionDos .seccionDosHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px auto 6% auto;
    justify-content: center;
}

.seccionDosHeader div span {
    border-bottom: 1px black solid;
    padding: 20px;
    cursor: pointer;
}

.seccionDosBody {
    display: flex;
}

.gradientseccioDos {
    width: 100%;
    border-radius: 0px 80px 80px 0px;
    top: 30%;
    right: 15%;
}

.seccionDosIzquierda {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: end;
    justify-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
}

.seccionDosIzquierda img {
    width: 350px;
    align-items: end;
    z-index: 20;
}

.seccionDosDerecha {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-items: center;
    justify-content: center;
    gap: 10px;
    width: 40%;
    margin-left: 10%;
}

.seccionDosDerecha p {
    align-self: start;
    justify-self: center;
}

.seccionDosDerecha h1 {
    align-self: flex-start;
}

.seccionExtensiones {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 500px;
}

.seccionExtensiones .card {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 5% 2% 2% 2%;
    width: 25%;
    box-shadow: -8px 8px 8px var(--NeutralGrayBlue);
}

.dotsImage {
    width: 100%;
}

.seccionExtensiones .cardChrome {
    align-self: flex-start;
}

.seccionExtensiones .cardFirefox {
    align-self: center;
}

.seccionExtensiones .cardOpera {
    align-self: flex-end;
}

.btnExtension {
    background-color: var(--primaryColorBlue);
    color: white;
}

.seccionPreguntas {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.seccionPreguntas .preguntas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.seccionPreguntas hr {
    height: 1px;
    width: 50%;
    background-color: var(--NeutralDarkBlue);
}

footer {
    display: flex;
    flex-flow: column;
    width: 100%;
}

footer .seccionFooterUno {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    width: 100%;
    background-color: var(--primaryColorBlue);
    padding: 6% 0px 6% 0px;
}

.seccionFooterUno h1, .seccionFooterUno span, .seccionFooterDos span {
    color: white;
}

.seccionFooterUno div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.seccionFooterUno div input {
    border: none;
    width: 200px;
    border-radius: 5px;
    padding-left: 5px;
    outline: none;
}

.seccionFooterUno div input::placeholder {
    font-size: 16px;
}

.seccionFooterUno div button {
    background-color: var(--primaryColorRed);
    color: white;
    box-shadow: 5px 5px 5px var(--NeutralDarkBlue);
}

.seccionFooterUno div button:hover {
    background-color: hsl(0, 65%, 56%);
    color: white;
}

.seccionFooterUno div button:active {
    background-color: hsl(0, 49%, 47%);
    box-shadow: 2px 2px 5px gray;
}

footer .seccionFooterDos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--NeutralDarkBlue);
    width: 90%;
    padding: 3% 5% 3% 5%
}

.seccionFooterDos .seccionFooterDosUno, .seccionFooterDos .seccionFooterDosDos {
    display: flex;
    flex-flow: row nowrap;
    gap: 35px;
}

/* Añadiendo media querys */
@media screen and (max-width:760px) {
    .seccionUno {
        flex-direction: column-reverse;
    }

    .seccionUnoIzquierda, .seccionUnoDerecha, .seccionDosDerecha, .seccionDosIzquierda {
        margin: 0;
        width: 100%;
        margin-bottom: 5%;
    }

    .seccionUnoIzquierda p, h1, .seccionUnoIzBotones {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .seccionUnoIzquierda p {
        font-size: 18px;
        text-align: center;

    }

    .seccionUnoIzquierda h1 {
        text-align: center;
    }

    .seccionUnoDerecha img {
        width: 80%;
        justify-self: center;
        margin: auto;
    }

    .gradientseccionUno {
        width: 60%;
        height: 75%;
        left: 40%;
        top: 25%;
    }

    .minisecciones {
        width: 100%;
        text-align: center;
    }

    .seccionDosIzquierda img {
        width: 60%;
        justify-self: center;
        margin: auto;
    }

    .gradientseccioDos {
        width: 75%;
        height: 85%;
        left: 0;
    }

    .seccionDos .seccionDosHeader {
        flex-direction: column;
        width: 100%;
        margin: 0;
        margin-bottom: 5%;
    }

    .seccionDosHeader div {
        text-align: center;
        width: 100%;
        margin: 0px;
        border-bottom: 1px black solid;
    }

    .seccionDosHeader div span {
        border-bottom: none;
        text-align: center;
        width: 100%;
        padding: 0px;

    }

    .seccionDosBody {
        flex-direction: column;
        margin: 0;
        height: 100%;
    }

    .seccionExtensiones {
        flex-direction: column;
        height: auto;
        margin-bottom: 5%;
    }

    .seccionExtensiones .card{
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 50%;
    }

    .seccionExtensiones .cardChrome {
        align-self: center;
    }

    .seccionExtensiones .cardFirefox {
        align-self: center;
    }

    .seccionExtensiones .cardOpera {
        align-self: center;
    }

    .seccionPreguntas .preguntas {
        width: 80%;
    }
    .seccionPreguntas hr{
        width: 80%;
    }
 
    footer .seccionFooterDos{
        flex-direction: column;
        gap: 30px;
    }
    .seccionFooterDos .seccionFooterDosUno{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .seccionFooterUno div{
        flex-direction: column;
    }
}


@media screen and (max-width:500px) {
    header .headerContent {
        display: none;
    }

    .hamburger img{
        display: block;
    }
}