@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cairo:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    font-size: 18px;
    font-weight: Extra-light 200;
}

:root {
    --primaryColorBlue: hsl(231, 69%, 60%);
    --primartColorRed: hsl(0, 94%, 66%);
    --NeutralGrayBlue: hsl(229, 8%, 60%);
    --NeutralDarkBlue: hsl(229, 31%, 21%);
}

header {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

header img {
    width: 160px;
}

header .headerContent {
    display: flex;
    gap: 20px;
    align-self: start;
    align-items: center;

}

.headerContent button {
    background-color: var(--primartColorRed);
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;

}

.buttonDefault {
    padding: 0% 20px 0% 20px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.5s;
}



.headerContent button:hover {
    background-color: hsl(0, 65%, 56%);
    color: white;
}

.headerContent button:active {
    background-color: hsl(0, 49%, 47%);
    color: white;
    box-shadow: 2px 2px 5px gray;
}


main {
    margin-top: 5%;
}

.seccionUno {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 5%;
    gap: 10px;
}

.seccionUnoIzquierda {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-items: center;
    justify-content: center;
    gap: 10px;
    width: 90%;    
    margin-left: 10%;
}

.seccionUnoIzquierda p {
    font-size: 16px;
    align-self: start;
    justify-self: center;
    word-spacing: 1px;
 
}

.seccionUnoIzquierda h1 {
    font-size: 1.8rem;
    align-self: flex-start;
    text-align: center;
}

.seccionUnoIzBotones {
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
    align-self: flex-start;
    justify-self:center;
    justify-content: center;
    align-items: center;
 
}

.seccionUnoDerecha {
    display: flex;
    align-items: center;
    position: relative;
}

.seccionUnoDerecha img {
    width: 400px;
    align-self: flex-start;
    z-index: 20;
}

.seccionUnoIzBotones .botonChrome {
    background-color: var(--primaryColorBlue);
    color: white;
}

.gradient {
    width: 65%;
    height: 220px;
    position: absolute;
    background-color: var(--primaryColorBlue);
    border-radius: 80px 0px 0px 80px;
    left: 35%;
    top: 25%;
}

@media screen and (max-width:760px) {
    .seccionUno {
        flex-direction: column-reverse;
    }

    .seccionUnoIzquierda{
        margin: 0;
        width: 100%;
    }

    .seccionUnoIzquierda p, h1,.seccionUnoIzBotones{
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .seccionUnoIzquierda p {
        font-size: 18px;
        text-align: center;

    }
    .seccionUnoIzquierda h1{
        text-align: center;
    }

    .seccionUnoDerecha img {
        width: 80%;
        justify-self: center;
        margin: auto;
    }

    .gradient {
        width: 60%;
        height: 75%;
        left: 40%;
        top: 25%;
    }

}

@media screen and (max-width:500px) {
    header .headerContent {
        display: none;
    }
}